# Настройки для HR Guide проекта

# Подключение к существующей PostgreSQL БД
# Имя контейнера PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=hr-guide
DATABASE_USER=admin
DATABASE_PASSWORD=Postgres9007

# Настройки Django
DEBUG=True
SECRET_KEY=dja656538%3ngo-insecure-change-this-in-production
ALLOWED_HOSTS=*

# Интернационализация
LANGUAGE_CODE=ru
TIME_ZONE=Asia/Almaty
USE_I18N=True
USE_TZ=True

# Статические и медиа файлы
STATIC_URL=static/
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=media

# Порт для веб-сервера Django (внешний порт, внутри контейнера всегда 8000)
PORT=8880
